* {
    margin:0; 
    padding:0;
}

.texto-principal {
    color: blue;
    background-color: aquamarine;
    margin: 5px;
    padding: 5px;
}

#texto1 {
    background-color: aqua;
}

#texto2{
    background-color: brown;
}