* {margin:0; padding:0;}
p{
    color: red;
    text-align: justify;
    text-transform: uppercase;
}

#texto2{
    color: rgb(55, 255, 0);
    text-align: right;
    text-transform: lowercase; 
}

#texto3{
    color: rgb(81, 0, 255);
    text-align: left;
    text-transform: capitalize; 
}

h1{
    color: green;
    text-align: left;
    text-decoration: underline;
}

h2{
    color: blue;
    text-align: right;
    text-decoration: overline;
}

h3{
    color: orange;
    text-align: center;
    text-decoration: line-through;
}